/* The CSS code you provided is setting some styles for various elements in a web page. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
    cursor: none;
}


 #rect {
    width: 300px;
    height: 180px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#rect img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


#cursor{
    width: 13px;
    height: 13spx;
    background-color: black;
    /* mix-blend-mode: difference; */
    position: absolute;
    border-radius: 50%;
    z-index: 100;

}